# 后端开发
fastapi==0.119.0
uvicorn==0.38.0
SQLAlchemy==2.0.44
asyncmy==0.2.10
aiomysql==0.3.2
alembic==1.17.2
python-dotenv==1.2.1             # 读取.env文件
python-multipart==0.0.21         # 处理文件上传
fsspec==2025.12.0                # 文件管理
s3fs==2025.12.0                  # s3文件管理
arq==0.26.3                      # arq任务队列
ollama==0.6.0
openai==2.9.0
langchain==1.2.4
langchain-openai==1.1.1
langchain-community==0.4.1
langgraph-checkpoint-mysql==2.0.17
langchain-ollama==1.0.0
langchain-milvus==0.3.1         # milvus 向量数据库
pymilvus==2.6.4                 # milvus 向量数据库
pypdf==6.4.1                    # PDF 处理
Markdown==3.10                  # Markdown 处理
unstructured==0.18.21           # 文档处理
xinference-client==1.16.0       # xinference 客户端，用于调用embed和rerandk模型

# 前端开发
streamlit==1.51.0               
